<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="URL_Parser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="250KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.5" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheClient1hr" duration="3600" varyByParam="url" location="Client" noStore="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><applicationSettings>
    <URL_Parser.Properties.Settings>
      <setting name="RequestTimeout" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="ImageRegexPatternForCss" serializeAs="String">
        <value>url\(['"]?(?&lt;url&gt;[^)]+?)['"]?\)</value>
      </setting>
      <setting name="ImageRegexPatternForJs" serializeAs="String">
        <value>['"]?(?&lt;url&gt;[^)]+?)['"]</value>
      </setting>
      <setting name="StopWords" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>a</string>
            <string>about</string>
            <string>above</string>
            <string>across</string>
            <string>after</string>
            <string>afterwards</string>
            <string>again</string>
            <string>against</string>
            <string>all</string>
            <string>almost</string>
            <string>alone</string>
            <string>along</string>
            <string>already</string>
            <string>also</string>
            <string>although</string>
            <string>always</string>
            <string>am</string>
            <string>among</string>
            <string>amongst</string>
            <string>amoungst</string>
            <string>amount</string>
            <string>an</string>
            <string>and</string>
            <string>another</string>
            <string>any</string>
            <string>anyhow</string>
            <string>anyone</string>
            <string>anything</string>
            <string>anyway</string>
            <string>anywhere</string>
            <string>are</string>
            <string>around</string>
            <string>as</string>
            <string>at</string>
            <string>back</string>
            <string>be</string>
            <string>became</string>
            <string>because</string>
            <string>become</string>
            <string>becomes</string>
            <string>becoming</string>
            <string>been</string>
            <string>before</string>
            <string>beforehand</string>
            <string>behind</string>
            <string>being</string>
            <string>below</string>
            <string>beside</string>
            <string>besides</string>
            <string>between</string>
            <string>beyond</string>
            <string>bill</string>
            <string>both</string>
            <string>bottom</string>
            <string>but</string>
            <string>by</string>
            <string>call</string>
            <string>can</string>
            <string>cannot</string>
            <string>cant</string>
            <string>co</string>
            <string>computer</string>
            <string>con</string>
            <string>could</string>
            <string>couldnt</string>
            <string>cry</string>
            <string>de</string>
            <string>describe</string>
            <string>detail</string>
            <string>do</string>
            <string>done</string>
            <string>down</string>
            <string>due</string>
            <string>during</string>
            <string>each</string>
            <string>eg</string>
            <string>eight</string>
            <string>either</string>
            <string>eleven</string>
            <string>else</string>
            <string>elsewhere</string>
            <string>empty</string>
            <string>enough</string>
            <string>etc</string>
            <string>even</string>
            <string>ever</string>
            <string>every</string>
            <string>everyone</string>
            <string>everything</string>
            <string>everywhere</string>
            <string>except</string>
            <string>few</string>
            <string>fifteen</string>
            <string>fify</string>
            <string>fill</string>
            <string>find</string>
            <string>fire</string>
            <string>first</string>
            <string>five</string>
            <string>for</string>
            <string>former</string>
            <string>formerly</string>
            <string>forty</string>
            <string>found</string>
            <string>four</string>
            <string>from</string>
            <string>front</string>
            <string>full</string>
            <string>further</string>
            <string>get</string>
            <string>give</string>
            <string>go</string>
            <string>had</string>
            <string>has</string>
            <string>hasnt</string>
            <string>have</string>
            <string>he</string>
            <string>hence</string>
            <string>her</string>
            <string>here</string>
            <string>hereafter</string>
            <string>hereby</string>
            <string>herein</string>
            <string>hereupon</string>
            <string>hers</string>
            <string>herse"</string>
            <string>him</string>
            <string>himse"</string>
            <string>his</string>
            <string>how</string>
            <string>however</string>
            <string>hundred</string>
            <string>i</string>
            <string>ie</string>
            <string>if</string>
            <string>in</string>
            <string>inc</string>
            <string>indeed</string>
            <string>interest</string>
            <string>into</string>
            <string>is</string>
            <string>it</string>
            <string>its</string>
            <string>itse"</string>
            <string>keep</string>
            <string>last</string>
            <string>latter</string>
            <string>latterly</string>
            <string>least</string>
            <string>less</string>
            <string>ltd</string>
            <string>made</string>
            <string>many</string>
            <string>may</string>
            <string>me</string>
            <string>meanwhile</string>
            <string>might</string>
            <string>mill</string>
            <string>mine</string>
            <string>more</string>
            <string>moreover</string>
            <string>most</string>
            <string>mostly</string>
            <string>move</string>
            <string>much</string>
            <string>must</string>
            <string>my</string>
            <string>myse"</string>
            <string>name</string>
            <string>namely</string>
            <string>neither</string>
            <string>never</string>
            <string>nevertheless</string>
            <string>next</string>
            <string>nine</string>
            <string>no</string>
            <string>nobody</string>
            <string>none</string>
            <string>noone</string>
            <string>nor</string>
            <string>not</string>
            <string>nothing</string>
            <string>now</string>
            <string>nowhere</string>
            <string>of</string>
            <string>off</string>
            <string>often</string>
            <string>on</string>
            <string>once</string>
            <string>one</string>
            <string>only</string>
            <string>onto</string>
            <string>or</string>
            <string>other</string>
            <string>others</string>
            <string>otherwise</string>
            <string>our</string>
            <string>ours</string>
            <string>ourselves</string>
            <string>out</string>
            <string>over</string>
            <string>own</string>
            <string>part</string>
            <string>per</string>
            <string>perhaps</string>
            <string>please</string>
            <string>put</string>
            <string>rather</string>
            <string>re</string>
            <string>same</string>
            <string>see</string>
            <string>seem</string>
            <string>seemed</string>
            <string>seeming</string>
            <string>seems</string>
            <string>serious</string>
            <string>several</string>
            <string>she</string>
            <string>should</string>
            <string>show</string>
            <string>side</string>
            <string>since</string>
            <string>sincere</string>
            <string>six</string>
            <string>sixty</string>
            <string>so</string>
            <string>some</string>
            <string>somehow</string>
            <string>someone</string>
            <string>something</string>
            <string>sometime</string>
            <string>sometimes</string>
            <string>somewhere</string>
            <string>still</string>
            <string>such</string>
            <string>system</string>
            <string>take</string>
            <string>ten</string>
            <string>than</string>
            <string>that</string>
            <string>the</string>
            <string>their</string>
            <string>them</string>
            <string>themselves</string>
            <string>then</string>
            <string>thence</string>
            <string>there</string>
            <string>thereafter</string>
            <string>thereby</string>
            <string>therefore</string>
            <string>therein</string>
            <string>thereupon</string>
            <string>these</string>
            <string>they</string>
            <string>thick</string>
            <string>thin</string>
            <string>third</string>
            <string>this</string>
            <string>those</string>
            <string>though</string>
            <string>three</string>
            <string>through</string>
            <string>throughout</string>
            <string>thru</string>
            <string>thus</string>
            <string>to</string>
            <string>together</string>
            <string>too</string>
            <string>top</string>
            <string>toward</string>
            <string>towards</string>
            <string>twelve</string>
            <string>twenty</string>
            <string>two</string>
            <string>un</string>
            <string>under</string>
            <string>until</string>
            <string>up</string>
            <string>upon</string>
            <string>us</string>
            <string>very</string>
            <string>via</string>
            <string>was</string>
            <string>we</string>
            <string>well</string>
            <string>were</string>
            <string>what</string>
            <string>whatever</string>
            <string>when</string>
            <string>whence</string>
            <string>whenever</string>
            <string>where</string>
            <string>whereafter</string>
            <string>whereas</string>
            <string>whereby</string>
            <string>wherein</string>
            <string>whereupon</string>
            <string>wherever</string>
            <string>whether</string>
            <string>which</string>
            <string>while</string>
            <string>whither</string>
            <string>who</string>
            <string>whoever</string>
            <string>whole</string>
            <string>whom</string>
            <string>whose</string>
            <string>why</string>
            <string>will</string>
            <string>with</string>
            <string>within</string>
            <string>without</string>
            <string>would</string>
            <string>yet</string>
            <string>you</string>
            <string>your</string>
            <string>yours</string>
            <string>yourself</string>
            <string>yourselves</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="NoReplyEmail" serializeAs="String">
        <value>no.reply.urlparser@gmail.com</value>
      </setting>
      <setting name="SupportEmail" serializeAs="String">
        <value>vasya.fomichev@gmail.com</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SSLEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoReplyPassword" serializeAs="String">
        <value>SitecoreR0ck$!</value>
      </setting>
      <setting name="DefaultAltForImageFromCssFiles" serializeAs="String">
        <value>Styling image</value>
      </setting>
      <setting name="DefaultAltForImageFromInlineCode" serializeAs="String">
        <value>Inline image</value>
      </setting>
      <setting name="DefaultAltForImageFromJsFiles" serializeAs="String">
        <value>Script image</value>
      </setting>
      <setting name="IsImageUrlRegex" serializeAs="String">
        <value>^.*\.(jpg|gif|jpeg|png|ico)$</value>
      </setting>
      <setting name="NewLineRegex" serializeAs="String">
        <value>\t|\n|\r</value>
      </setting>
      <setting name="SpecialCharacters" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>-</string>
            <string>+</string>
            <string>=</string>
            <string>?</string>
            <string>.</string>
            <string>,</string>
            <string>!</string>
            <string>@</string>
            <string>#</string>
            <string>$</string>
            <string>%</string>
            <string>^</string>
            <string>&amp;</string>
            <string>*</string>
            <string>(</string>
            <string>)</string>
            <string>[</string>
            <string>]</string>
            <string>{</string>
            <string>}</string>
            <string>~</string>
            <string>`</string>
            <string>|</string>
            <string>\</string>
            <string>/</string>
            <string>&gt;</string>
            <string>&lt;</string>
            <string>;</string>
            <string>:</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AllowedImageExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>png</string>
            <string>gif</string>
            <string>jpg</string>
            <string>ico</string>
            <string>jpeg</string>
          </ArrayOfString>
        </value>
      </setting>
    </URL_Parser.Properties.Settings>
  </applicationSettings>
</configuration>