@{
    ViewBag.Title = "URL Parser";
    Layout = "~/Views/_Layout.cshtml";
}
    <section id="reports">
        <section id="url-input">
            <input type="text" id="url"/>
            <input type="submit" value="Generate Report" />
        </section>
    </section>