@{
    ViewBag.Title = "URL Parser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="reports" ng-app="UrlParser">
    <div id="container" ng-controller="UrlController">
        <div class="loader more" ng-show="(loadStarted && !isDataLoaded)"></div>
        <section class="url-input" ng-class="{'set':loadStarted}">
            <form name="urlForm" autocomplete="off" ng-submit="parseUrl(url)" novalidate class="custom-hidden">
                <textarea id="secondaryUrl"></textarea>
                <div class="input-container" ng-class="{flip: valid}">
                    <input name="input" type="url" pattern="https?://.+" id="url" 
                           placeholder="type in url and hit enter" required ng-model="url" />
                </div>
                <div class="error">
                    <div class="error" ng-show="urlForm.input.$error.required && urlForm.input.$dirty">
                        Missing URL.
                    </div>
                    <div class="error" ng-show="!validateInputLive(urlForm.input.$viewValue) && urlForm.input.$dirty">
                        Please enter a URL starting with <strong>http://</strong>
                    </div>
                    <div class="error" ng-show="!valid && urlForm.input.$dirty">
                        Please enter a valid URL.
                    </div>
                    <div class="error" ng-show="working.images===false && images.length===0 && urlForm.input.$dirty  && isDataLoaded">
                        No images found.
                    </div>
                    <div class="error" ng-show="!showWordReport() && urlForm.input.$dirty && isDataLoaded && errors.length===0">
                        No text found.
                    </div>
                </div>
                <div class="error" ng-class="{'hidden':!hasErrors()}">
                    <p ng-bind-html="errorSummary"></p>
                </div>
            </form>
        </section>
        <div class="reports">
            <section class="container" ng-class="{'hidden':!showSlideshow()}">
                <h2 class="custom-hidden"><span>{{images.length}}</span> website images </h2>
                <div class="slider custom-hidden" ng-swipe-left="prevSlide()" ng-swipe-right="nextSlide()" class="nonDraggable">
                    <img ng-repeat="image in images"
                         ng-swipe-left="prevSlide()"
                         ng-swipe-right="nextSlide()"
                         ng-src="{{image.Src}}"
                         ng-alt="{{image.Alt}}"
                         ng-hide="!isCurrentSlideIndex($index)"
                         class="slide slide-animation nonDraggable" />

                    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                    <nav class="nav">
                        <div class="wrapper">
                            <ul class="dots">
                                <li class="dot" ng-repeat="image in images">
                                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                                       ng-click="setCurrentSlideIndex($index);">{{image.Alt}}</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </section>
            <section class="container chart">
                <h2 ng-class="{'hidden':!showWordReport()}" class="custom-hidden">{{maxReportSize}} most used words</h2>
                <canvas tc-chartjs-bar chart-data="chartData" chart-options="chartOptions" ng-class="{'hidden':!showWordReport()}"></canvas>
            </section>
        </div>
    </div>
</section>