html {
    height: 101%;
}

body {
    
}
input:focus {outline: none; }
.hidden{display:none;}
div.reports{
    top:13%;
    position:absolute;
    width:100%;
}
@import "input"; 
@import "slideshow";
@import "loader";